<% provide(:title, 'Contact') %>
<h1>Sample App</h1>
<p>
  On this page there is information about how to contact us.
  <a href="http://linkedin.com/in/pekkanen">Joonas Pekkanen</a>
  is developing this practice app.
</p>